body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.calculator {
    margin-top: 1100px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.left-align {
    text-align: left;
    margin-left: 15px;
}

.right-aligin {
    text-align: right;
    margin-right: 15px;
}

.padding {
    padding: 10px;
}

.header-blue {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.button-yellow {
    padding: 10px 20px;
    background-color: #ffc107;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-yellow:hover {
    background-color: #ffca2c;
}


button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: 6px;
    transition: background-color 0.3s;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}


button:hover {
    background-color: #0056b3;
}

input {
    padding: 8px;
    margin: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    font-weight: bold;
}

.segitiga {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.segitiga a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}
.jajargenjang {
    background-color: #ffffff;
    color: black;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

/* .jajargenjang a {
    color: black;
    text-decoration: none;
    padding: 10px;  
} */
